<ion-header class="m7-header-shadow ion-no-border">
  <ion-toolbar class="m7-toolbar ion-no-border">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/settings']" class="m7-header-back" aria-label="Back">
        <ax-icon name="arrow-left" />
      </ion-button>
    </ion-buttons>
    <ion-title class="m7-title">{{ 'title_my_addresses' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="user_wishlist()" fill="clear" class="m7-header-action">
        <ax-icon name="heart"/>
      </ion-button>
      <ion-button (click)="user_cart()" fill="clear" class="m7-header-action">
        <app-cart-icon [count]="0"></app-cart-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-bg">
  <div class="sheet ion-padding-horizontal">
    @if (ui_controls.is_loading) {
      <div class="loader-row">
        <ax-loader></ax-loader>
      </div>
    }
    @if (!ui_controls.is_loading){
      <ion-row class="ion-padding-bottom">
        <ion-col>
          <ax-text-field
            [label]="'label_name' | translate"
            type="text"
            [maxlength]="15"
            autocomplete="name"
            [(ngModel)]="update.name"
            name="name">
          </ax-text-field>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-bottom">
        <ion-col>
          <ax-text-field
            [label]="'label_phone' | translate"
            type="tel"
            inputmode="numeric"
            autocomplete="tel-national"
            [(ngModel)]="update.phone"
            name="phone">
          </ax-text-field>
        </ion-col>
        <ion-col>
          <ax-text-field
            [label]="'label_email' | translate"
            type="email"
            autocomplete="email"
            [(ngModel)]="update.email"
            name="email">
          </ax-text-field>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-bottom">
        <ion-col>
          <label class="address-field-label">{{ 'label_city' | translate }}</label>
          <ion-button expand="block" class="ion-margin-vertical" type="button" id="open-city">
            <span class="cc-code">{{ update.city }}</span>
            <ax-icon name="chevron-down" slot="end" [style.color]="'var(--ion-color-secondary)'"/>
          </ion-button>
        </ion-col>
        <ion-col>
          @if (ui_controls.is_loading_area) {
            <div class="loader-row">
              <ax-loader></ax-loader>
            </div>
          }
          @if (!ui_controls.is_loading_area) {
            <label class="address-field-label">{{ 'label_area' | translate }}</label>
            <ion-button expand="block" class="ion-margin-vertical" type="button" id="open-area">
              <span class="cc-code">{{ update.area }}</span>
              <ax-icon name="chevron-down" slot="end" [style.color]="'var(--ion-color-secondary)'"/>
            </ion-button>
          }
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-bottom">
        <ion-col>
          <ax-text-field
            [label]="'label_street_address' | translate"
            type="text"
            autocomplete="street-address"
            [(ngModel)]="update.street"
            name="street">
          </ax-text-field>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-bottom">
        <ion-col>
          <ax-text-field
            [label]="'label_villa_number' | translate"
            type="text"
            [(ngModel)]="update.villa_number"
            name="villa_number">
          </ax-text-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          @if (!ui_controls.is_updating) {
            <ion-button (click)="update_billing()" expand="block" class="ion-margin-vertical" type="button"> {{ 'button_update' | translate }}
            </ion-button>
          }
          @if (ui_controls.is_updating) {
            <div class="loader-row">
              <ax-loader></ax-loader>
            </div>
          }
        </ion-col>
      </ion-row>
    }
  </div>
  @if (!ui_controls.is_loading) {
    <ion-modal #cityModal trigger="open-city" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 0.8, 1]">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ 'title_select_city' | translate }}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="cityModal.dismiss()">{{ 'close' | translate }}</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            @for (cities of city; track cities) {
              <ion-item button detail (click)="selectCode(cities.name, cities.city_ID); cityModal.dismiss()">
                <ion-label>
                  <div class="code-line">
                    <span class="name">{{ cities.name }}</span>
                  </div>
                </ion-label>
              </ion-item>
            }
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  }
  @if (!ui_controls.is_loading_area) {
    <ion-modal #areaModal trigger="open-area" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 0.8, 1]">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ 'title_select_area' | translate }}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="areaModal.dismiss()">{{ 'close' | translate }}</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            @for (areas of area; track areas) {
              <ion-item button detail (click)="selectArea(areas.name); areaModal.dismiss()">
                <ion-label>
                  <div class="code-line">
                    <span class="name">{{ areas.name }}</span>
                  </div>
                </ion-label>
              </ion-item>
            }
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  }
</ion-content>
