<ion-content [fullscreen]="true" class="page-bg">
  <ion-header class="m7-header ion-no-border">
  <ion-toolbar class="m7-toolbar ion-no-border">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/settings']" class="m7-header-back" aria-label="Back">
        <ax-icon name="arrow-left" />
      </ion-button>
    </ion-buttons>
    <ion-title class="m7-title">My addresses</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="user_wishlist()" fill="clear" class="m7-header-action">
          <ax-icon name="heart"/>
        </ion-button>
        <ion-button (click)="user_cart()" fill="clear" class="m7-header-action">
          <app-cart-icon [count]="0"></app-cart-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
  <div class="sheet ion-padding-horizontal">
    @if (ui_controls.is_loading) {
      <ax-loader></ax-loader>
    }
    @if (!ui_controls.is_loading){
      <ion-row class="animate__animated ion-padding-bottom">
        <ion-col>
          <tui-textfield class="animate__animated animate__fadeInDown"  #m tuiTextfieldSize="m" style="width:100%">
            <label tuiLabel>{{ 'label_name' | translate }}</label>
            <input  [(ngModel)]="update.name" name="name" maxlength="15" type="text" tuiTextfield />
          </tui-textfield>
        </ion-col>
      </ion-row>
      <ion-row class="animate__animated ion-padding-bottom">
        <ion-col>
          <tui-textfield class="animate__animated animate__fadeInDown"  #m tuiTextfieldSize="m" style="width:100%">
            <label tuiLabel>{{ 'label_phone' | translate }}</label>
            <input  [(ngModel)]="update.phone" name="phone" type="text" tuiTextfield />
          </tui-textfield>
        </ion-col>
        <ion-col>
          <tui-textfield class="animate__animated animate__fadeInDown"  #m tuiTextfieldSize="m" style="width:100%">
            <label tuiLabel>{{ 'label_email' | translate }}</label>
            <input  [(ngModel)]="update.email" name="email" type="text" tuiTextfield />
          </tui-textfield>
        </ion-col>
      </ion-row>
      <ion-row class="animate__animated ion-padding-bottom">
        <ion-col>
          <label tuiLabel class="ion-color-light">{{ 'label_city' | translate }}</label>
          <ion-button expand="block" class="ion-margin-vertical animate__animated animate__fadeInDown" type="button" id="open-city">
            <span class="cc-code">{{ update.city }}</span>
            <ax-icon name="chevron-down" slot="end" [style.color]="'var(--ion-color-secondary)'"/>
          </ion-button>
        </ion-col>
        <ion-col>
          @if (ui_controls.is_loading_area) {
            <ax-loader></ax-loader>
          }
          @if (!ui_controls.is_loading_area) {
            <label tuiLabel class="ion-color-light">{{ 'label_area' | translate }}</label>
          }
          @if (!ui_controls.is_loading_area) {
            <ion-button expand="block" class="ion-margin-vertical animate__animated animate__fadeInDown" type="button" id="open-area">
              <span class="cc-code">{{ update.area }}</span>
              <ax-icon name="chevron-down" slot="end" [style.color]="'var(--ion-color-secondary)'"/>
            </ion-button>
          }
        </ion-col>
      </ion-row>
      <ion-row class="animate__animated ion-padding-bottom">
        <ion-col>
          <label tuiLabel>{{ 'label_street_address' | translate }}</label>
          <tui-textfield class="animate__animated animate__fadeInDown"  #m tuiTextfieldSize="m" style="width:100%">
            <input  [(ngModel)]="update.street" name="street" type="text" tuiTextfield />
          </tui-textfield>
        </ion-col>
      </ion-row>
      <ion-row class="animate__animated ion-padding-bottom">
        <ion-col>
          <label tuiLabel>{{ "label_villa_number" | translate }}</label>
          <tui-textfield class="animate__animated animate__fadeInDown"  #m tuiTextfieldSize="m" style="width:100%">
            <input  [(ngModel)]="update.villa_number" name="villa_number" type="text" tuiTextfield />
          </tui-textfield>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          @if (!ui_controls.is_updating) {
            <ion-button (click)="update_billing()" expand="block" class="ion-margin-vertical animate__animated animate__fadeInDown" type="button"> {{ 'button_update' | translate }}
            </ion-button>
          }
          @if (ui_controls.is_updating) {
            <ax-loader></ax-loader>
          }
        </ion-col>
      </ion-row>
    }
  </div>
  @if (!ui_controls.is_loading) {
    <ion-modal #cityModal trigger="open-city" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 0.8, 1]">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ 'title_select_city' | translate }}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="cityModal.dismiss()">{{ 'close' | translate }}</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            @for (cities of city; track cities) {
              <ion-item  button detail (click)="selectCode(cities.name, cities.city_ID); cityModal.dismiss()" >
                <ion-label>
                  <div class="code-line">
                    <span class="name">{{ cities.name }}</span>
                  </div>
                </ion-label>
              </ion-item>
            }
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  }
  @if (!ui_controls.is_loading_area) {
    <ion-modal #areaModal trigger="open-area" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 0.8, 1]">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ 'title_select_area' | translate }}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="areaModal.dismiss()">{{ "button_close" | translate }}</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            @for (areas of area; track areas) {
              <ion-item  button detail (click)="selectArea(areas.name); areaModal.dismiss()" >
                <ion-label>
                  <div class="code-line">
                    <span class="name">{{ areas.name }}</span>
                  </div>
                </ion-label>
              </ion-item>
            }
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  }
</ion-content>
