<ion-header class="m7-header ion-no-border">
  <ion-toolbar class="m7-toolbar ion-no-border">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/ticketlist']" class="m7-header-back" aria-label="Back">
        <ax-icon name="arrow-left" />
      </ion-button>
    </ion-buttons>
    <ion-title class="m7-title">Create ticket</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="page-bg">
  @if (!ui_controls.is_loading){
    <div class="sheet ion-padding-horizontal ion-margin-horizontal">
      <tui-textfield  #m tuiTextfieldSize="m" class="animate__animated animate__fadeIn ion-margin-bottom" style="width:100%">
        <input style="border: 1px solid #FAC0B0" [maxlength]="60" [(ngModel)]="create.subject" placeholder="{{'placeholder_short_subject' | translate}}" type="text" name="subject" tuiTextfield />
      </tui-textfield>
      <tui-textfield style="width: 100%" [style.margin-block-end.rem]="1">
        <label tuiLabel>{{ 'label_summary' | translate }}</label>
        <textarea name="summary" placeholder="{{'placeholder_describe_issue' | translate}}" tuiTextarea [(ngModel)]="create.message" [limit]="160" [max]="120" [min]="5"></textarea>
      </tui-textfield>
      <ion-label position="stacked">{{ 'label_reference' | translate }}</ion-label>
      <ion-select [(ngModel)]="create.store" interface="action-sheet">
        @for(t of stores; track $index){
          <ion-select-option [value]="t.store">{{ t.store_name }}</ion-select-option>
        }
      </ion-select>
      @if (!ui_controls.is_loading) {
        <ion-button (click)="create_ticket()" expand="block" class="ion-margin-vertical animate__animated animate__fadeInDown" type="button"> {{'button_create_ticket' | translate}}
        </ion-button>
      }
      <span class="ion-text-center ion-padding-vertical ion-margin-vertical">
        @if (ui_controls.is_loading){
          <ax-loader></ax-loader>
        }
      </span>
    </div>

  }
  <span class="ion-text-center ion-padding-vertical ion-margin-vertical">
    @if (ui_controls.is_loading){
      <ax-loader></ax-loader>
    }
  </span>
</ion-content>
<ion-footer class="m6f-footer ion-no-border">
  <ion-tab-bar class="m6f-tab-bar" slot="bottom">
    <ion-tab-button (click)="user_home()" tab="home" class="m6f-tab">
      <ax-icon name="house" />
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="user_explore()" tab="explore" class="m6f-tab">
      <ax-icon name="globe" />
      <ion-label>Explore</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="user_cart()" tab="cart" class="m6f-tab">
      <ax-icon name="shopping-cart" />
      <ion-label>My Cart</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="user_styles()" tab="sketch" class="m6f-tab">
      <ax-icon name="blocks" />
      <ion-label>Style hub</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="user_profile()" tab="profile" class="m6f-tab">
      <ax-icon name="user-pen" />
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
