<ion-header class="ion-no-border ion-padding-horizontal page-header ion-padding-top ion-no-border">
  <ion-toolbar class="toolbar ion-padding-top">
    <ion-buttons slot="start">
      <div (click)="triggerBack()" class="icon_left">
        <tui-icon icon="@tui.corner-up-left"></tui-icon>
      </div>
    </ion-buttons>
    <ion-title class="title ion-text-center">Style Hub</ion-title>
    <ion-buttons slot="end">
      <div (click)="createStyle()" class="icon-btn">
        <tui-icon icon="@tui.plus"></tui-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
  <!-- Toggle Tabs -->
  <div class="toggle-row">
    <button class="toggle-btn" [class.active]="activeTab === 'community'" (click)="switchTab('community'); get_styles('community')"> Community </button>
    <button class="toggle-btn" [class.active]="activeTab === 'abayti'" (click)="switchTab('abayti'); get_styles('abayti')"> 3bayti </button>
    <button class="toggle-btn" [class.active]="activeTab === 'personal'" (click)="switchTab('personal'); get_styles('personal')"> My styles </button>
  </div>
</ion-header>
@if(this.activeTab === 'community'){
  <ion-content class="ion-padding" [fullscreen]="true">
    @if (!ui_controls.is_loading && styles.length == 0){
      <div class="empty-state">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <tui-icon [style.font-size.rem]="2" icon="shirt"></tui-icon>
            <h2>{{ 'heading_no_styles' | translate }}</h2>
          </ion-card-content>
        </ion-card>
      </div>
    }
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" #myRefresher>
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    @if(ui_controls.is_loading){
      <section class="loading_state">
        <div class="loading-wrapper">
          @for(item of [1,2]; track $index){
            <ion-card class="skeleton-card">
              <div class="top-block skeleton"></div>
              <div class="middle-row">
                <div class="small-block skeleton"></div>
                <div class="small-block skeleton"></div>
              </div>
              <div class="bottom-block skeleton">
                <ion-skeleton-text></ion-skeleton-text>
              </div>
            </ion-card>
          }
        </div>
        <div class="loading-wrapper">
          @for(item of [1,2]; track $index){
            <ion-card class="skeleton-card">
              <div class="top-block skeleton"></div>
              <div class="middle-row">
                <div class="small-block skeleton"></div>
                <div class="small-block skeleton"></div>
              </div>
              <div class="bottom-block skeleton">
                <ion-skeleton-text></ion-skeleton-text>
              </div>
            </ion-card>
          }
        </div>
        <div class="loading-wrapper">
          @for(item of [1,2]; track $index){
            <ion-card class="skeleton-card">
              <div class="top-block skeleton"></div>
              <div class="middle-row">
                <div class="small-block skeleton"></div>
                <div class="small-block skeleton"></div>
              </div>
              <div class="bottom-block skeleton">
                <ion-skeleton-text></ion-skeleton-text>
              </div>
            </ion-card>
          }
        </div>
      </section>
    }
    @if(!ui_controls.is_loading){
      <section class="content_state">
        <div class="product-wrapper">
          @for(item of styles; track $index){
            <ion-card (click)="open_style(item)" class="product-card-actual">
              <section class="card-section">
                <img loading="lazy"  [src]="item.products[0].image" class="top-img" alt="product" />
                <div class="middle-row">
                  <img loading="lazy"  [src]="item.products[1].image" class="sub-img" alt="product" />
                  <img loading="lazy"  [src]="item.products[2].image" class="sub-img" alt="product" />
                </div>
              </section>
              <div class="bottom-content">
                <h3 class="title">{{ item.style_name }}</h3>
                <p class="count">4 items</p>
              </div>
            </ion-card>
          }
        </div>
      </section>
    }
    @if(!ui_controls.is_empty){
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="dots"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    }
  </ion-content>
}
@if(this.activeTab === 'abayti'){
  <ion-content class="ion-padding" [fullscreen]="true">
    @if (!ui_controls.is_loading && styles.length == 0){
      <div class="empty-state">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <tui-icon [style.font-size.rem]="2" icon="shirt"></tui-icon>
            <h2>{{ 'heading_no_styles' | translate }}</h2>
          </ion-card-content>
        </ion-card>
      </div>
    }
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" #myRefresher>
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    @if(ui_controls.is_loading){
      <section class="loading_state">
        <div class="loading-wrapper">
          @for(item of [1,2]; track $index){
            <ion-card class="skeleton-card">
              <div class="top-block skeleton"></div>
              <div class="middle-row">
                <div class="small-block skeleton"></div>
                <div class="small-block skeleton"></div>
              </div>
              <div class="bottom-block skeleton">
                <ion-skeleton-text></ion-skeleton-text>
              </div>
            </ion-card>
          }
        </div>
        <div class="loading-wrapper">
          @for(item of [1,2]; track $index){
            <ion-card class="skeleton-card">
              <div class="top-block skeleton"></div>
              <div class="middle-row">
                <div class="small-block skeleton"></div>
                <div class="small-block skeleton"></div>
              </div>
              <div class="bottom-block skeleton">
                <ion-skeleton-text></ion-skeleton-text>
              </div>
            </ion-card>
          }
        </div>
        <div class="loading-wrapper">
          @for(item of [1,2]; track $index){
            <ion-card class="skeleton-card">
              <div class="top-block skeleton"></div>
              <div class="middle-row">
                <div class="small-block skeleton"></div>
                <div class="small-block skeleton"></div>
              </div>
              <div class="bottom-block skeleton">
                <ion-skeleton-text></ion-skeleton-text>
              </div>
            </ion-card>
          }
        </div>
      </section>
    }
    @if(!ui_controls.is_loading){
      <section class="content_state">
        <div class="product-wrapper">
          @for(item of styles; track $index){
            <ion-card (click)="open_style(item)" class="product-card-actual">
              <section class="card-section">
                <img loading="lazy"  [src]="item.products[0].image" class="top-img" alt="product" />
                <div class="middle-row">
                  <img loading="lazy"  [src]="item.products[1].image" class="sub-img" alt="product" />
                  <img loading="lazy"  [src]="item.products[2].image" class="sub-img" alt="product" />
                </div>
              </section>
              <div class="bottom-content">
                <h3 class="title">{{ item.style_name }}</h3>
                <p class="count">4 items</p>
              </div>
            </ion-card>
          }
        </div>
      </section>
    }
    @if(!ui_controls.is_empty){
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="dots"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    }
  </ion-content>
}
@if(this.activeTab === 'personal'){
  <ion-content class="ion-padding" [fullscreen]="true">
    @if (!ui_controls.is_loading && styles.length == 0){
      <div class="empty-state">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <tui-icon [style.font-size.rem]="2" icon="shirt"></tui-icon>
            <h2>{{ 'you_no_styles' | translate }}</h2>
          </ion-card-content>
        </ion-card>
      </div>
    }
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" #myRefresher>
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    @if(ui_controls.is_loading){
      <section class="loading_state">
        <div class="loading-wrapper">
          @for(item of [1,2]; track $index){
            <ion-card class="skeleton-card">
              <div class="top-block skeleton"></div>
              <div class="middle-row">
                <div class="small-block skeleton"></div>
                <div class="small-block skeleton"></div>
              </div>
              <div class="bottom-block skeleton">
                <ion-skeleton-text></ion-skeleton-text>
              </div>
            </ion-card>
          }
        </div>
        <div class="loading-wrapper">
          @for(item of [1,2]; track $index){
            <ion-card class="skeleton-card">
              <div class="top-block skeleton"></div>
              <div class="middle-row">
                <div class="small-block skeleton"></div>
                <div class="small-block skeleton"></div>
              </div>
              <div class="bottom-block skeleton">
                <ion-skeleton-text></ion-skeleton-text>
              </div>
            </ion-card>
          }
        </div>
        <div class="loading-wrapper">
          @for(item of [1,2]; track $index){
            <ion-card class="skeleton-card">
              <div class="top-block skeleton"></div>
              <div class="middle-row">
                <div class="small-block skeleton"></div>
                <div class="small-block skeleton"></div>
              </div>
              <div class="bottom-block skeleton">
                <ion-skeleton-text></ion-skeleton-text>
              </div>
            </ion-card>
          }
        </div>
      </section>
    }
    @if(!ui_controls.is_loading){
      <section class="content_state">
        <div class="product-wrapper">
          @for(item of styles; track $index){
            <ion-card (click)="open_style(item)" class="product-card-actual">
              <section class="card-section">
                <img loading="lazy"  [src]="item.products[0].image" class="top-img" alt="product" />
                <div class="middle-row">
                  <img loading="lazy"  [src]="item.products[1].image" class="sub-img" alt="product" />
                  <img loading="lazy"  [src]="item.products[2].image" class="sub-img" alt="product" />
                </div>
              </section>
              <div class="bottom-content">
                <h3 class="title">{{ item.style_name }}</h3>
                <p class="count">4 items</p>
              </div>
            </ion-card>
          }
        </div>
      </section>
    }
    @if(!ui_controls.is_empty){
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="dots"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    }
  </ion-content>
}

<ion-footer style="background-color: #7C2108; padding-bottom: 15px;" class="ion-no-border">
  <ion-tab-bar style="background-color: #7C2108; padding-top: 2px; padding-bottom: 2px" slot="bottom">
    <ion-tab-button (click)="user_home()" tab="home">
      <tui-icon icon="@tui.home" [style.color]="'var(--ion-color-secondary-contrast)'"/>
      <ion-label [style.color]="'var(--ion-color-secondary-contrast)'">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="user_explore()" tab="explore">
      <tui-icon icon="@tui.globe" [style.color]="'var(--ion-color-secondary-contrast)'"/>
      <ion-label [style.color]="'var(--ion-color-secondary-contrast)'">Explore</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="user_explore()" tab="explore">
      <tui-icon icon="@tui.shopping-cart" [style.color]="'var(--ion-color-secondary-contrast)'"/>
      <ion-label [style.color]="'var(--ion-color-secondary-contrast)'">My Cart</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="refresh()" tab="sketch">
      <tui-icon icon="@tui.blocks" [style.color]="'var(--ion-color-secondary-contrast)'"/>
      <ion-label style="text-decoration: underline" [style.color]="'var(--ion-color-secondary-contrast)'">Styles</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="user_profile()" tab="profile">
      <tui-icon icon="@tui.user-pen" [style.color]="'var(--ion-color-secondary-contrast)'"/>
      <ion-label [style.color]="'var(--ion-color-secondary-contrast)'">Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
