<ion-content class="ion-padding" [fullscreen]="true">
  <div class="sheet">
  <ion-buttons class="back-chip" [routerLink]="['/addresses']" aria-label="Back to account" slot="start">
    <tui-icon icon="@tui.chevron-left" />
    <span>Create billing address</span>
  </ion-buttons>
  <ion-row class="animate__animated ion-padding-bottom">
    <ion-col>
      <tui-textfield class="animate__animated animate__fadeInDown"  #m tuiTextfieldSize="m" style="width:100%">
        <label tuiLabel>Name</label>
        <input  [(ngModel)]="create.name" name="name" maxlength="15" type="text" tuiTextfield />
      </tui-textfield>
    </ion-col>
  </ion-row>
  <ion-row class="animate__animated ion-padding-bottom">
    <ion-col>
      <tui-textfield class="animate__animated animate__fadeInDown"  #m tuiTextfieldSize="m" style="width:100%">
        <label tuiLabel>Phone</label>
        <input  [(ngModel)]="create.phone" name="phone" type="text" tuiTextfield />
      </tui-textfield>
    </ion-col>
    <ion-col>
      <tui-textfield class="animate__animated animate__fadeInDown"  #m tuiTextfieldSize="m" style="width:100%">
        <label tuiLabel>Email</label>
        <input  [(ngModel)]="create.email" name="email" type="text" tuiTextfield />
      </tui-textfield>
    </ion-col>
  </ion-row>
  <ion-row class="animate__animated ion-padding-bottom">
    <ion-col>
      <label tuiLabel class="ion-color-light">City</label>
      <button appearance="outline" tuiAppearanceMode="checked" class="ion-margin-vertical animate__animated animate__fadeInDown abayti_primary_background ion-color-light" style="width: 100%; outline-color: #ffffff; color: #ffffff; margin-top: 6px;" size="m" tuiButton type="button" id="open-city">
        <span class="cc-code">{{ create.city }}</span>
        <tui-icon slot="end" icon="@tui.chevron-down" [style.color]="'var(--ion-color-secondary)'"/>
      </button>
    </ion-col>
    <ion-col>
      <label tuiLabel class="ion-color-light">Area</label>
      <tui-loader *ngIf="ui_controls.is_loading_area"></tui-loader>
      <button appearance="outline" tuiAppearanceMode="checked" class="ion-margin-vertical animate__animated animate__fadeInDown abayti_primary_background ion-color-light" style="width: 100%; outline-color: #ffffff; color: #ffffff; margin-top: 6px;" size="m" tuiButton type="button" id="open-area">
        <span class="cc-code">{{ create.area }}</span>
        <tui-icon slot="end" icon="@tui.chevron-down" [style.color]="'var(--ion-color-secondary)'"/>
      </button>
    </ion-col>
  </ion-row>
  <ion-row class="animate__animated ion-padding-bottom">
    <ion-col>
      <tui-textfield class="animate__animated animate__fadeInDown"  #m tuiTextfieldSize="m" style="width:100%">
        <label tuiLabel>Street</label>
        <input  [(ngModel)]="create.street" name="street" type="text" tuiTextfield />
      </tui-textfield>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button *ngIf="!ui_controls.is_creating" (click)="create_billing()" appearance="outline" tuiAppearanceMode="checked" class="ion-margin-vertical animate__animated animate__fadeInDown abayti_primary_background ion-color-light"
              style="width: 100%; outline-color: #ffffff; color: #ffffff" size="m" tuiButton type="button"> Add billing address
      </button>
      <tui-loader *ngIf="ui_controls.is_creating"></tui-loader>
    </ion-col>
  </ion-row>
  </div>
  <ion-modal  #cityModal trigger="open-city" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 0.8, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Select city</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cityModal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-item  button detail *ngFor="let cities of city" (click)="selectCode(cities.name, cities.city_ID); cityModal.dismiss()" >
            <ion-label>
              <div class="code-line">
                <span class="name">{{ cities.name }}</span>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal  #areaModal trigger="open-area" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 0.8, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Select city</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="areaModal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-item  button detail *ngFor="let areas of area" (click)="selectArea(areas.name); areaModal.dismiss()" >
            <ion-label>
              <div class="code-line">
                <span class="name">{{ areas.name }}</span>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
