<ion-header class="ion-padding-top ion-no-border remove_nudge">
  <ion-toolbar class="toolbar ion-no-border">
    <ion-title>{{ 'title_orders' | translate }}</ion-title>
    <ion-buttons [routerLink]="['/account']" aria-label="Back to account" slot="start">
      <svg width="87" height="87" viewBox="0 0 87 87" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d_75_149)">
          <rect x="18" y="18" width="51" height="51" rx="25.5" fill="white"/>
          <path d="M31.2269 40.9251L30.1134 42.0307L29 40.9251L30.1134 39.8194L31.2269 40.9251ZM58 53.4361C58 53.8509 57.8341 54.2487 57.5387 54.542C57.2434 54.8352 56.8428 55 56.4251 55C56.0074 55 55.6068 54.8352 55.3115 54.542C55.0161 54.2487 54.8502 53.8509 54.8502 53.4361H58ZM37.9879 49.8501L30.1134 42.0307L32.3403 39.8194L40.2148 47.6388L37.9879 49.8501ZM30.1134 39.8194L37.9879 32L40.2148 34.2113L32.3403 42.0307L30.1134 39.8194ZM31.2269 39.3612H46.9758V42.489H31.2269V39.3612ZM58 50.3084V53.4361H54.8502V50.3084H58ZM46.9758 39.3612C49.8996 39.3612 52.7036 40.5145 54.7711 42.5675C56.8385 44.6205 58 47.405 58 50.3084H54.8502C54.8502 48.2345 54.0206 46.2456 52.5439 44.7792C51.0671 43.3128 49.0642 42.489 46.9758 42.489V39.3612Z" fill="black"/>
        </g>
        <defs>
          <filter id="filter0_d_75_149" x="0.9" y="0.9" width="85.2" height="85.2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset/>
            <feGaussianBlur stdDeviation="8.55"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_75_149"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_75_149" result="shape"/>
          </filter>
        </defs>
      </svg>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/ticketlist']" fill="clear">
        <ion-chip class="abayti_primary_background abayti_white">
          <ion-avatar>
            <ax-icon name="headset" [style.color]="'var(--text)'"/>
          </ion-avatar>
          <ion-label>{{ 'support' | translate }}</ion-label>
        </ion-chip>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" class="page-bg ion-padding-horizontal">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  @for (cart of orders; track cart.id){
    @if (!ui_controls.is_loading){
      <ion-card class="cart-card">
        <div (click)="open_details(cart.product_id)" class="card-row">
          <div class="img-wrap" role="button" tabindex="0">
            <img loading="lazy"  style="object-fit: cover; object-position: top center" src="{{ cart.product_image }}" alt="test" />
          </div>
          <div class="content-wrap">
            <div class="row row-top">
              <div class="title" title="{{ cart.product_name }}">{{ cart.product_name }}</div>
              <div class="price">
                Ð{{ cart.price_formatted }}
              </div>
            </div>
            <!-- Row 2: description (now single line) -->
            <div class="row row-mid">
              <div class="desc" [innerHTML]="cart.description"></div>
            </div>
            <div class="row row-bottom">
              <div class="left-meta">
                <div class="price">
                  {{ cart.color }}
                </div>

              </div>
              <div class="size"><strong>{{ cart.size }}</strong></div>
              <div class="qty-controls" aria-label="Quantity controls">
                <ion-chip size="small" color="success">{{ cart.status }}</ion-chip>
              </div>
            </div>
          </div>
        </div>
      </ion-card>
    }
  }
  @if(ui_controls.is_empty){
    <div class="empty-state">
      <ion-card>
        <ion-card-content class="ion-text-center">
          <ax-icon name="shopping-basket" [style.font-size.rem]="2"></ax-icon>
          <h2>You haven't placed any orders yet</h2>
          <p>Place your first order to discover amazing products and start filling your cart.</p>
          <button appearance="floating" tuiButton size="m" class="mt-4" [routerLink]="['/explore']">
            <ax-icon name="shopping-cart"></ax-icon>
            <span>Start Shopping</span>
          </button>
        </ion-card-content>
      </ion-card>
    </div>
  }
  <span class="ion-text-center ion-padding-vertical ion-margin-vertical">
      @if (ui_controls.is_loading){
        <ax-loader></ax-loader>
      }
   </span>
  <ion-modal  [isOpen]="isOrderOpen" [initialBreakpoint]="0.7" [backdropDismiss]="false" [breakpoints]="[0, 0.3, 0.5, 0.8, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Summary</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isOrderOpen = false">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        @if (!ui_controls.is_loading_details){
          <ion-card class="cart-card">
          <ion-list lines="none" class="contact-list">
          <!-- Email -->
          <ion-item lines="none" class="animate__animated animate__fadeInDown" detail="false">
            <ion-text>{{single_product.name}}</ion-text>
          </ion-item>
          <ion-item lines="none" class="animate__animated animate__fadeInDown" detail="false">
            <ion-label>QUANTITY</ion-label>
            {{ single_product.quantity }}
          </ion-item>
          <ion-item class="animate__animated animate__fadeInDown" detail="false">
            <ion-label>PRICE</ion-label>
            <ion-text slot="end">
              Ð{{ single_product.price }}
            </ion-text>
          </ion-item>
          <ion-item lines="none" class="animate__animated animate__fadeInDown"  detail="false">
            <ion-label>SIZE</ion-label>
            <ion-text slot="end">
              {{ single_product.size }}
            </ion-text>
          </ion-item>
          <ion-item lines="none" class="animate__animated animate__fadeInDown"  detail="false">
            <ion-label>COLOR</ion-label>
            <ion-text slot="end">
              {{ single_product.color }}
            </ion-text>
          </ion-item>
          <ion-item class="animate__animated animate__fadeInDown" detail="false">
            <svg width="365" height="1" viewBox="0 0 365 1" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="0.5" y1="0.5" x2="364.497" y2="0.5" stroke="#A9A6A6" stroke-linecap="round"/>
            </svg>
          </ion-item>
          <ion-item lines="none" class="animate__animated animate__fadeInDown" detail="false">
            <ion-label>STATUS</ion-label>
            <ion-text slot="end">
              {{ single_product.status }}
            </ion-text>
          </ion-item>
        </ion-list>
          </ion-card>
        }
        <span class="ion-text-center ion-padding-vertical ion-margin-vertical">
          @if (ui_controls.is_loading_details){
            <ax-loader></ax-loader>
          }
       </span>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
<ion-footer style="padding-bottom: 35px;" class="ion-padding  ion-no-border ">
  <ion-tab-bar style="background-color: #7C2108; border-radius: 44px; padding-top: 2px; padding-bottom: 2px" slot="bottom">
    <ion-tab-button (click)="user_home()" tab="home">
      <ion-icon style="font-size: 45px; border-radius: 100%" [style.color]="'var(--card)'" src="assets/icon/home.svg"></ion-icon>
      <!--
            <ion-label [style.color]="'var(&#45;&#45;ion-color-secondary)'">Home</ion-label>
      -->
    </ion-tab-button>
    <ion-tab-button (click)="user_explore()" tab="explore">
      <ion-icon style="font-size: 45px; border-radius: 100%" [style.color]="'var(--ion-color-secondary)'" src="assets/icon/explore.svg"></ion-icon>
      <!--
            <ion-label [style.color]="'var(&#45;&#45;ion-color-secondary)'">Explore</ion-label>
      -->
    </ion-tab-button>
    <ion-tab-button (click)="user_cart()" tab="cart">
      <ion-icon style="font-size: 45px; border-radius: 100%" [style.color]="'var(--ion-color-secondary)'" src="assets/icon/cart.svg"></ion-icon>
      <!--
            <ion-label [style.color]="'var(&#45;&#45;ion-color-secondary)'">My Cart</ion-label>
      -->
    </ion-tab-button>
    <ion-tab-button (click)="user_orders()" tab="sketch">
      <ion-icon style="font-size: 45px; background-color: rgba(255, 255, 255, 0.05); border-radius: 100%" [style.color]="'var(--ion-color-secondary)'" src="assets/icon/orders.svg"></ion-icon>
      <!--
            <ion-label [style.color]="'var(&#45;&#45;ion-color-secondary)'">Orders</ion-label>
      -->
    </ion-tab-button>
    <ion-tab-button (click)="user_profile()" tab="profile">
      <ion-icon style="font-size: 45px; border-radius: 100%" [style.color]="'var(--ion-color-secondary)'" src="assets/icon/profile.svg"></ion-icon>
      <!--
            <ion-label  style="font-weight: 900"  [style.color]="'var(&#45;&#45;ion-color-secondary)'">Profile</ion-label>
      -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>

