<ion-content fullscreen="true" class="ion-padding ion-padding-vertical ion-margin-vertical">
  <ion-card style="margin-top: 25%;" class="ion-margin ion-text-center ion-padding">
    <img src="assets/images/failed.gif" alt="success" />
    <ion-card-header>
      <ion-card-title class="text-center">Payment Failed.</ion-card-title>
    </ion-card-header>
    <ion-button [routerLink]="['/cart']" expand="block" style="color: #ffffff;" class="ion-padding ion-margin">TRY AGAIN.</ion-button>
  </ion-card>
</ion-content>
