<ion-content [fullscreen]="true" class="app-bg ion-padding">
  <!-- Dark mode toggle -->
  <ion-grid class="h-100">
    <ion-row class="h-100 ion-justify-content-center">
      <ion-col class="ion-padding" size="12">
        <div class="stack">
          <div class="brand-badge">
            <span>
              <img style="max-width: 160px;" class="animate__animated animate__fadeIn" src="assets/images/logo.png" alt="">
            </span>
          </div>
          <h1 class="title animate__animated ion-text-center animate__fadeInDown">{{ 'welcome_back' | translate }}</h1>
          <p class="subtitle animate__animated animate__fadeInDown">{{ 'sub_title' | translate }}</p>
        </div>
        <label class="animate__animated animate__fadeInDown " tuiLabel>{{ 'email_Address' | translate }} *</label>
        <tui-textfield #m tuiTextfieldSize="m" class="animate__animated animate__fadeInDown ion-margin-bottom" style="width:100%">
          <input [(ngModel)]="login.email" type="email" name="email" tuiTextfield />
        </tui-textfield>
        <label class="animate__animated animate__fadeInDown " tuiLabel>{{ 'password' | translate }} *</label>
        <tui-textfield #m tuiTextfieldSize="m" class="animate__animated animate__fadeInDown ion-margin-bottom" style="width:100%">
          <input [(ngModel)]="login.password" type="password" name="password" tuiTextfield />
          <tui-icon tuiPassword />
        </tui-textfield>
        @if (!ui_controls.login_loading) {
          <div class="ion-float-right ion-padding-bottom ion-margin-vertical">
            <ion-text class="ion-margin-top abayti_secondary_color animate__animated animate__fadeInDown" (click)="forgot_password()">{{ 'forgot_password' | translate }} </ion-text>
          </div>
        }

        @if (!ui_controls.login_loading) {
          <ion-button (click)="signIn()" expand="block" class="ion-margin-vertical">
            {{ 'sign_in' | translate }}
          </ion-button>
        }

        <span class="ion-text-center">
          @if (ui_controls.login_loading) {
            <ax-loader></ax-loader>
          }
        </span>
        @if (!ui_controls.login_loading) {
          <div class="login-divider">
            <span>{{ 'or' | translate }}</span>
          </div>
        }

        @if (!ui_controls.login_loading) {
          <ion-button (click)="goHome()" expand="block" fill="outline" class="ion-margin-vertical">
            {{ 'continue_as_guest' | translate }}
          </ion-button>
        }
        @if (!ui_controls.login_loading) {
          <div class="flex ion-text-center">
            <div class="flex ion-margin-top items-start">
              <div class="flex abayti_secondary_color animate__animated animate__fadeInDown items-center h-5">
                {{ 'dont_have_an_account' | translate }} ? <ion-text (click)="user_register()" style="font-weight: bolder;" type="button" class="abayti_secondary_color">{{ 'sign_up' | translate }}</ion-text>
              </div>
            </div>
          </div>
        }
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
