<ion-header class="ion-padding-top ion-no-border remove_nudge">
  <ion-toolbar class="toolbar ion-no-border">
    <ion-buttons (click)="triggerBack()" aria-label="Back to account" slot="start">
      <svg width="87" height="87" viewBox="0 0 87 87" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d_75_149)">
          <rect x="18" y="18" width="51" height="51" rx="25.5" fill="white"/>
          <path d="M31.2269 40.9251L30.1134 42.0307L29 40.9251L30.1134 39.8194L31.2269 40.9251ZM58 53.4361C58 53.8509 57.8341 54.2487 57.5387 54.542C57.2434 54.8352 56.8428 55 56.4251 55C56.0074 55 55.6068 54.8352 55.3115 54.542C55.0161 54.2487 54.8502 53.8509 54.8502 53.4361H58ZM37.9879 49.8501L30.1134 42.0307L32.3403 39.8194L40.2148 47.6388L37.9879 49.8501ZM30.1134 39.8194L37.9879 32L40.2148 34.2113L32.3403 42.0307L30.1134 39.8194ZM31.2269 39.3612H46.9758V42.489H31.2269V39.3612ZM58 50.3084V53.4361H54.8502V50.3084H58ZM46.9758 39.3612C49.8996 39.3612 52.7036 40.5145 54.7711 42.5675C56.8385 44.6205 58 47.405 58 50.3084H54.8502C54.8502 48.2345 54.0206 46.2456 52.5439 44.7792C51.0671 43.3128 49.0642 42.489 46.9758 42.489V39.3612Z" fill="black"/>
        </g>
        <defs>
          <filter id="filter0_d_75_149" x="0.9" y="0.9" width="85.2" height="85.2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset/>
            <feGaussianBlur stdDeviation="8.55"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_75_149"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_75_149" result="shape"/>
          </filter>
        </defs>
      </svg>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" class="page-bg">
  <div class="safe-area">
    <div class="slides-wrapper">
      <swiper-container
        #swiper
        class="slides"
        grabCursor="true"
        allow-touch-move="true">
        @for(product of images; track $index){
          <swiper-slide class="slide">
            <div class="hero">
              <div class="img-wrap" [class.loaded]="imgLoaded[$index]">
                <ion-img
                  src="{{product}}"
                  alt="{{single.name}}"
                  class="model"
                  (ionImgWillLoad)="onWillLoad($index)"
                  (ionImgDidLoad)="onDidLoad($index)">
                </ion-img>
                @if(!imgLoaded[$index]){
                  <div class="skeleton"></div>
                }
              </div>
            </div>
          </swiper-slide>
        }
      </swiper-container>
    </div>

  </div>

  @if(!ui_controls.is_loading){
    <ion-card class="product-card ion-no-margin">
      <div class="footer">
        <div class="pager">
          @for(product of images; track $index){
            <span class="dot" [class.active]="index()===$index"></span>
          }
        </div>
      </div>
      <ion-card-content>
        <ion-row class="product-row">
          <ion-col size="8" class="product-title">
            <ion-card-title>{{ single.category_name }}</ion-card-title>
            <ion-card-subtitle class="title">{{ single.name }}</ion-card-subtitle>
          </ion-col>
        </ion-row>
        <div class="row second-line">
          <div class="description" [innerHTML]="single.description"></div>
        </div>
        <div class="quantity" style="padding-top: 5px; padding-bottom: 5px">
          <ion-label>
            @if(single.delivery_time != 'custom'){
              <ion-text class="ion-text-start ion-padding-bottom">{{ 'delivery' | translate }}: {{single.delivery_time}} {{ 'days' | translate }}</ion-text>
            } @else {
              <ion-text class="ion-text-start ion-padding-bottom">{{ 'delivery' | translate }}: {{single.custom_delivery_time}} {{ 'days' | translate }}</ion-text>
            }

          </ion-label>
        </div>
        <span class="ion-text-center ion-padding-vertical ion-margin-vertical">
              @if(ui_controls.is_adding_to_cart){
                <tui-loader></tui-loader>
              }
          </span>

        @if(!ui_controls.is_adding_to_cart){
          <button style="border-radius: 20px; color: #ffffff; font-size: 18px; margin-bottom: 20px" (click)="SignIn()" class="ion-padding-vertical gradient_bg ion-padding-bottom ion-margin-vertical">
            {{ 'button_add_to_cart' | translate }} <span class="dirham"></span>{{single.price_formated}}
          </button>
        }

      </ion-card-content>
    </ion-card>
  }
  @if (ui_controls.is_loading){
    <span class="ion-text-center ion-padding-vertical ion-margin-vertical">
        <tui-loader></tui-loader>
  </span>
  }
  @if(images.length > 1){
    <div class="floating-thumbs" [style.right.px]="20">
      <div class="thumbs-wrapper" [style.height.px]="(thumbSize * visibleCount + (visibleCount - 1) * 8)">
        @for(img of images; track img.length; let i = $index){
          <button
            type="button"
            class="thumb-btn"
            (click)="onSelect(i)"
            [style.width.px]="thumbSize"
            [style.height.px]="thumbSize">
            <img loading="lazy" [src]="img" [alt]="'thumb-'+i" [style.width.px]="thumbSize" [style.height.px]="thumbSize" />
          </button>
        }

      </div>
    </div>
  }
</ion-content>
