<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-start">Select Products</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ax-icon name="x"></ax-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Searchable Store Filter -->
  <ion-item>
    <tui-select
      [items]="stores"
      [(ngModel)]="selectedStore"
      (ngModelChange)="filterProducts()"
      placeholder="Filter by Store"
      tuiTextfieldLabelOutside
      [searchable]="true"
      [tuiStringMatcher]="true"
      >
      <ng-template let-item>{{ item }}</ng-template>
    </tui-select>
  </ion-item>

  <!-- Wishlist Add -->
  <ion-item>
    <tui-select
      [items]="wishlistProducts"
      [(ngModel)]="selectedWishlistProducts"
      placeholder="Add from Wishlist"
      (ngModelChange)="addWishlistProducts()"
      identityMatcher="id"
      tuiTextfieldLabelOutside
      [tuiLabelField]="'name'"
      [tuiItemContent]="'name'"
      [multiple]="true"
      >
    </tui-select>
  </ion-item>

  <!-- Products Grid -->
  <div class="products-grid">
    @for (product of filteredProducts; track product) {
      <div
        class="product-card"
        (click)="toggleSelect(product)"
        [class.selected]="product.selected"
        >
        <img [src]="product.image" alt="{{ product.name }}">
        <div class="overlay">
          <ion-checkbox [checked]="product.selected"></ion-checkbox>
        </div>
        <div class="product-info">
          <h3>{{ product.name }}</h3>
        </div>
      </div>
    }
  </div>

</ion-content>
