<ion-header  class="ion-padding-top ion-no-border remove_nudge">
  <ion-toolbar class="toolbar ion-margin-vertical ion-no-border">
    <ion-buttons slot="start">
      <ion-button (click)="user_register()" fill="clear">
        {{ 'sign_up' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="user_login()" fill="clear">
        {{ 'sign_in' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="app-bg">
  <section class="section ion-padding-horizontal">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" #myRefresher>
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  </section>
  @if (!ui_controls.is_loading){
    <section class="section ion-padding-horizontal">
      <div class="section-head ion-margin-bottom">
        <h2>{{ 'best_seller' | translate }}</h2>
      </div>
      @if(!ui_controls.is_empty){
        <div class="h-scroll">
          @for(best_seller of best_sellers; track best_seller.product_id){
            <article class="product-card">
              <div class="img-wrap" [style.background]="'#7A1C09'">
                <img  (click)="open_product(best_seller.product_id)"  style="object-fit: cover; object-position: top center;" src="{{best_seller.image_1}}" alt="{{best_seller.product_name}}" />
                <span class="tag">{{best_seller.store_name}}</span>
              </div>
              <div (click)="open_product(best_seller.product_id)"  class="info">
                <p class="desc">
                  {{best_seller.product_name}} - <span [innerHTML]="best_seller.description"></span>
                </p>
                <ion-row>
                  <ion-col>
                    Ð{{best_seller.price}}
                  </ion-col>
                  <ion-col>
                    <svg class="ion-float-end" (click)="open_product(best_seller.product_id)" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="19" height="19" rx="6" fill="#7C2108"/>
                      <path d="M12.75 7.75H10.25V5.25C10.25 4.91848 10.1183 4.60054 9.88388 4.36612C9.64946 4.1317 9.33152 4 9 4C8.66848 4 8.35054 4.1317 8.11612 4.36612C7.8817 4.60054 7.75 4.91848 7.75 5.25L7.79437 7.75H5.25C4.91848 7.75 4.60054 7.8817 4.36612 8.11612C4.1317 8.35054 4 8.66848 4 9C4 9.33152 4.1317 9.64946 4.36612 9.88388C4.60054 10.1183 4.91848 10.25 5.25 10.25L7.79437 10.2056L7.75 12.75C7.75 13.0815 7.8817 13.3995 8.11612 13.6339C8.35054 13.8683 8.66848 14 9 14C9.33152 14 9.64946 13.8683 9.88388 13.6339C10.1183 13.3995 10.25 13.0815 10.25 12.75V10.2056L12.75 10.25C13.0815 10.25 13.3995 10.1183 13.6339 9.88388C13.8683 9.64946 14 9.33152 14 9C14 8.66848 13.8683 8.35054 13.6339 8.11612C13.3995 7.8817 13.0815 7.75 12.75 7.75Z" fill="white"/>
                    </svg>
                  </ion-col>
                </ion-row>
              </div>
            </article>
          }
        </div>
      }
      @if (ui_controls.is_empty){
        <ion-card>
          <ion-card-content class="ion-text-center">
            <tui-icon [style.font-size.rem]="2" icon="list-filter"></tui-icon>
            <h2 class="ion-padding-vertical">{{ 'empty_filter' | translate }}</h2>
            <button (click)="get_best_sellers()" appearance="floating" tuiButton size="m" class="mt-4">
              <tui-icon icon="tuiIconShoppingCart"></tui-icon>
              <span>{{ 'our_best_sellers' | translate }}</span>
            </button>
          </ion-card-content>
        </ion-card>
      }
      <div class="section-head">
        <h2>{{ 'popular_stores' | translate }}</h2>
      </div>
    </section>
  }
  @if (!ui_controls.is_loading){
    @for (vendor_feature of vendor_featured; track vendor_feature.store_id){
      @if(vendor_feature.products.length > 0){
        <ion-card class="fashion-card">
          <div class="card-top">
            <div class="store-info">
              <h3 class="store-name abayti_secondary_color">{{ vendor_feature.store_name }}</h3>
            </div>
            @if(vendor_feature.rating_count != 0){
              <ion-chip  class="rating-chip" outline>
                <ion-icon name="star" slot="start"></ion-icon>
                <span class="rating-value">⭐ {{ vendor_feature.rating }} ({{ vendor_feature.rating_count }} ratings)</span>
              </ion-chip>
            }
          </div>
          @if (vendor_feature.store_desc){
            <p class="store-desc" [innerHTML]="vendor_feature.store_desc"></p>
          }
          <div class="thumb-row" role="list" aria-label="products">
            @for(vendor_products of vendor_feature.products;  track vendor_products.product_id ){
              <div class="thumb" role="listitem">
                <img (click)="open_product(vendor_products.product_id)"  style="object-fit: cover; object-position: top center;" src="{{vendor_products.image}}" alt="product 1" />
                <span class="price-tag">Ð{{ vendor_products.price }}</span>
              </div>
            }
          </div>
        </ion-card>
      }
    }
  }
  <span class="ion-text-center ion-padding-vertical ion-margin-vertical">
      @if (ui_controls.is_loading){
        <tui-loader></tui-loader>
      }
  </span>
</ion-content>
