<ion-header class="m7-header-shadow ion-no-border">
  <ion-toolbar class="m7-toolbar ion-no-border">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/account']" class="m7-header-back" aria-label="Back">
        <ax-icon name="arrow-left" />
      </ion-button>
    </ion-buttons>
    <ion-title class="m7-title">{{ 'messages' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/ticketlist']" fill="solid" class="support-cta">
        <ax-icon name="headset" slot="start" />
        {{ 'support' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-bg">
  @if (!ui_controls.is_loading) {
    <div class="contacts-sheet ion-padding-horizontal">
      @for(store of stores; track store.store){
        <ion-list class="contact-list">
          <ion-item (click)="conversations(store.store, store.store_name)" detail="false" button class="contact-item">
            <ion-label>
              <strong class="contact-name">{{ store.store_name }}</strong>
              <ion-note color="medium" class="ion-text-wrap contact-address">
                {{ store.store_address }}
              </ion-note>
            </ion-label>
            <span class="count-pill" slot="end">{{ store.total_products }}</span>
          </ion-item>
        </ion-list>
      }
    </div>
  }

  @if (ui_controls.is_loading) {
    <div class="loader-row">
      <ax-loader></ax-loader>
    </div>
  }
</ion-content>

<ion-footer class="m6f-footer ion-no-border">
  <ion-tab-bar class="m6f-tab-bar" slot="bottom">
    <ion-tab-button (click)="user_home()" tab="home" class="m6f-tab">
      <ax-icon name="house" />
      <ion-label>{{ 'nav_home' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="user_explore()" tab="explore" class="m6f-tab">
      <ax-icon name="globe" />
      <ion-label>{{ 'explore' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="user_cart()" tab="cart" class="m6f-tab">
      <ax-icon name="shopping-cart" />
      <ion-label>{{ 'title_my_cart' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="user_styles()" tab="sketch" class="m6f-tab">
      <ax-icon name="blocks" />
      <ion-label>{{ 'nav_style_hub' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="user_profile()" tab="profile" class="m6f-tab">
      <ax-icon name="user-pen" />
      <ion-label>{{ 'title_user_profile' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
