<ion-header class="m7-header ion-no-border">
  <ion-toolbar class="m7-toolbar ion-no-border">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/ticketlist']" class="m7-header-back" aria-label="Back">
        <ax-icon name="arrow-left" />
      </ion-button>
    </ion-buttons>
    <ion-title class="m7-title">{{ request.subject }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="page-bg">
  @if (!ui_controls.is_loading){
  <div class="sheet ion-padding-horizontal">
    <ion-list class="contact-list">
      @for(conversation of messages; track $index){
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item detail="false">
                <ion-label>
                  <ion-note  class="ion-text-wrap">
                    {{conversation.message }}
                  </ion-note>
                </ion-label>
              </ion-item>
              <ion-text class="muted">{{conversation.timestamp}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      }
    </ion-list>
  </div>
  }
  <span class="ion-text-center ion-padding-vertical ion-margin-vertical">
      @if (ui_controls.is_loading){
        <ax-loader></ax-loader>
      }
   </span>
</ion-content>
<ion-footer collapse="none" style="padding-bottom: 35px; background-color: #FFFFFF" class="ion-padding ion-no-border chat-footer">
    <ion-toolbar class="chat-toolbar">
      <div class="chat-row">
        <div class="chat-input-wrap">
          <label class="sr-only" for="chatMessage">{{ 'label_type_message' | translate }}</label>
          <input [maxlength]="200" [(ngModel)]="message.message" id="chatMessage" class="chat-input" type="text" aria-label="Message" autocomplete="off" />
        </div>
        <!-- RIGHT: send -->
        <div class="chat-send-wrap">
          @if(!ui_controls.sending){
            <button (click)="send_message()" class="send-btn">
              <ax-icon name="send-horizontal" />
            </button>
          }
          @if(ui_controls.sending){
            <ax-loader></ax-loader>
          }
        </div>
      </div>
    </ion-toolbar>
</ion-footer>
