ion-content {
  --overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.full-swiper {
  height: 100vh;
  width: 100vw;
}

.slide {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
