<ion-header class="m7-header-shadow ion-no-border">
  <ion-toolbar class="m7-toolbar ion-no-border">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/orders']" class="m7-header-back" aria-label="Back">
        <ax-icon name="arrow-left" />
      </ion-button>
    </ion-buttons>
    <ion-title class="m7-title">{{ 'title_support_tickets' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/createticket']" class="m7-header-action">
        <ax-icon name="plus"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="page-bg ion-padding-horizontal">
      @for(t of tickets; track $index){
        <ion-item lines="none" class="ticket-item" (click)="openTicket(t.id, t.subject)">
          <ion-avatar slot="start">
            <ax-icon name="tickets" [style.color]="'var(--text)'"/>
          </ion-avatar>
          <ion-label class="ion-no-margin">
            <h2>{{ t.subject }}</h2>
            <p class="muted">{{ t.summary }}</p>
            <p class="meta">
              <small>Status: {{ t.status }} • {{ t.created | date:'short' }}</small>
            </p>
          </ion-label>

          @if(t.priority){
            <ion-note
              slot="end"
              class="priority {{ t.priority.toLowerCase() }}">
              {{ t.priority }}
            </ion-note>
          }
        </ion-item>
      }
      @if(ui_controls.is_empty){
        <div class="empty-state">
          <ion-card>
            <ion-card-content class="ion-text-center">
              <ax-icon name="shopping-basket" [style.font-size.rem]="2"></ax-icon>
              <h2>{{ 'heading_support_ticket_empty' | translate }}</h2>
              <p>{{ 'text_no_tickets_yet' | translate }}</p>
              <ion-button shape="round" class="mt-4" [routerLink]="['/createticket']">
                <ax-icon name="tickets"></ax-icon>
                <span>{{ 'button_create_ticket' | translate }}</span>
              </ion-button>

            </ion-card-content>
          </ion-card>
        </div>
      }
  <span class="ion-text-center ion-padding-vertical ion-margin-vertical">
          @if (ui_controls.is_loading){
            <ax-loader></ax-loader>
          }
   </span>
</ion-content>
