<ion-header class="m7-header-shadow ion-no-border">
  <ion-toolbar class="m7-toolbar ion-no-border">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/account']" class="m7-header-back" aria-label="Back">
        <ax-icon name="arrow-left" />
      </ion-button>
    </ion-buttons>
    <ion-title class="m7-title">{{ 'title_search' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="user_wishlist()" fill="clear" class="m7-header-action">
        <ax-icon name="heart"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" class="page-bg ion-padding-horizontal">

  @for (product of products; track product.id){
    <ion-card class="cart-card">
      <div class="card-row">
        <div class="img-wrap" role="button" tabindex="0">
          <img loading="lazy"  style="object-fit: cover; object-position: top center" src="{{ product.product_image }}" alt="test" />
        </div>
        <div class="content-wrap">
          <div class="row row-top">
            <div class="title" title="{{ product.product_name }}">{{ product.product_name }}</div>
            <div class="icons">
              <ion-button (click)="startAddToCloset(product.product_id, product.product_name, product.product_image)" fill="clear" size="small" class="icon-btn">
                <ax-icon name="heart" [style.color]="'var(--text)'"/>
              </ion-button>
            </div>
          </div>
          <div class="row row-mid">
            <tui-chip>
              <div (click)="open_vendor(product.store, product.store_name)" class="desc">&#64;{{ product.store_name }}</div>
            </tui-chip>

          </div>
          <div class="row row-bottom">
            <div class="left-meta">
              <div class="price">Ð{{ product.price_formatted }}</div>
            </div>
            <div class="qty-controls" aria-label="Quantity controls">
              <ion-button  (click)="open_product(product.product_id, product.product_name)" fill="outline" size="small" class="qty-btn">
                <ax-icon name="chevron-right" [style.color]="'var(--text)'"/>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-card>
  }
  @if(!products){
    <div class="empty-state">
      <ion-card>
        <ion-card-content class="ion-text-center">
          <ax-icon name="shopping-basket" [style.font-size.rem]="2"></ax-icon>
          <h2>{{ 'heading_no_product_found' | translate }}</h2>
          <p>{{ 'text_no_product_match' | translate }}</p>
          <ion-button shape="round" class="mt-4" [routerLink]="['/explore']">
            <ax-icon name="brush-cleaning"></ax-icon>
            <span>{{ 'button_explore_stores' | translate }}</span>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  }
  <span class="ion-text-center ion-padding-vertical ion-margin-vertical">
      @if (ui_controls.is_loading){
        <ax-loader></ax-loader>
      }
   </span>
  <ion-modal swipeToClose="true" [isOpen]="isWishOpen" (didDismiss)="onDismiss()" [initialBreakpoint]="0.5" [backdropDismiss]="true" [breakpoints]="[0, 0.3, 0.5, 0.8, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 'save' | translate }} {{ addCloset.product_name }} {{ 'to' | translate }} </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isWishOpen = false">{{ 'close' | translate }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        @if (!ui_controls.is_loading_category){
          <ion-list class="custom-list">
            @for(category of categories; track category.id; let i = $index){
              <ion-item (click)="addToCloset(category.id)" lines="none">
                <ion-label>
                  <h2>{{category.name}}</h2>
                </ion-label>
              </ion-item>
            }
          </ion-list>
        }
        <ion-row>
          <ion-col>
              <span class="ion-text-center ion-padding-vertical ion-margin-vertical">
                @if (ui_controls.is_loading_category){
                  <ax-loader></ax-loader>
                }
              </span>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>


<ion-footer class="m6f-footer ion-no-border">
  <ion-tab-bar class="m6f-tab-bar" slot="bottom">
    <ion-tab-button (click)="user_home()" tab="home" class="m6f-tab">
      <ax-icon name="house" />
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="user_explore()" tab="explore" class="m6f-tab">
      <ax-icon name="globe" />
      <ion-label>Explore</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="user_cart()" tab="cart" class="m6f-tab">
      <ax-icon name="shopping-cart" />
      <ion-label>My Cart</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="user_styles()" tab="sketch" class="m6f-tab">
      <ax-icon name="blocks" />
      <ion-label>Style hub</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="user_profile()" tab="profile" class="m6f-tab">
      <ax-icon name="user-pen" />
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
